@tailwind base;

@tailwind components;

@tailwind utilities;

#nav a.router-link-exact-active {
  @apply font-bold text-blue-300;
}
  
.align-left {
  text-align: left;
}

.select-simple:disabled {
  @apply text-gray-400;
  pointer-events: none;
}

.r-btn-orange {
  @apply bg-orange-500 text-white font-bold py-2 px-4 rounded;
}
.r-btn-orange:hover {
  @apply bg-orange-700;
}

.r-btn-page {
  @apply py-1 px-3 border border-gray-400 text-white font-medium;
  background: var(--rorange);
}
.r-btn-page:disabled {

  background: var(--rorange-disabled);
  pointer-events: none;
}
.r-btn-page:disabled:hover {
  background: var(--rorange-disabled);
}
.r-btn-page:hover {
  background: var(--rorange-darker20);
}